<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="Url_MtgjsonHash" value="https://mtgjson.com/api/v5/AllPrintings.sqlite.sha256"/>
    <add key="Url_MtgjsonData" value="https://mtgjson.com/api/v5/AllPrintings.sqlite"/>
    <add key="Url_MtgjsonPrices" value="https://mtgjson.com/api/v5/AllPricesToday.json"/>
    <add key="Url_MtgjsonDecks" value="https://mtgjson.com/api/v5/AllDeckFiles.zip"/>
    
  </appSettings>
</configuration>