<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define MaGeek_TargetDir=$(var.MaGeek.TargetDir)?>
	
<!-- Product -->  
  
  <Product Id="*" Name="MaGeek" Language="1033" Version="1.0.1.5" Manufacturer="PlaziatPierre" UpgradeCode="501e43bf-cd40-4b37-b88c-bec3e3a8b24b">
	
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
  
    <MediaTemplate EmbedCab="yes" />
    
    <UIRef Id="WixUI_InstallDir" />
    
		<Feature Id="ProductFeature" Title="MaGeek" Level="1">
      
			<ComponentGroupRef Id="ProgramFilesFolder_files" />
      
      <ComponentGroupRef Id="sql_win" />
      <ComponentGroupRef Id="sql_win_arm" />
      <ComponentGroupRef Id="sql_win_arm64" />
      <ComponentGroupRef Id="sql_win64" />
      <ComponentGroupRef Id="sql_win86" />
      
      <ComponentRef Id="ApplicationShortcut" />
			<ComponentGroupRef Id="Resources_files" />
			<ComponentGroupRef Id="pl_files" />
			<ComponentGroupRef Id="fr_files" />
			<ComponentGroupRef Id="es_files" />
			<ComponentGroupRef Id="de_files" />
			<ComponentGroupRef Id="cs_CZ_files" />
			<ComponentGroupRef Id="ca_ES_files" />
			<ComponentGroupRef Id="ja_files" />
			<ComponentGroupRef Id="ko_files" />
			<ComponentGroupRef Id="nl_BE_files" />
			<ComponentGroupRef Id="pt_files" />
			<ComponentGroupRef Id="ro_files" />
			<ComponentGroupRef Id="ru_files" />
			<ComponentGroupRef Id="sv_files" />
			<ComponentGroupRef Id="zh_Hans_files" />
			<ComponentGroupRef Id="zh_Hant_files" />
			<ComponentGroupRef Id="hu_files" />
			<ComponentGroupRef Id="it_files" />

    </Feature>
  
	  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Custom UI -->
    
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    
    <WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" /> <!-- Top banner 	493 × 58 -->
    <WixVariable Id="WixUIDialogBmp" Value="BG.bmp" /> <!-- Background bitmap used on the welcome and completion dialogs 	493 × 312 -->
  
	</Product>

<!-- Directory structure -->
  
  <Fragment>
    
		<Directory Id="TARGETDIR" Name="SourceDir">
      
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="MaGeek">
          <Directory Id="CardsIllusFolder" Name="CardsIllus"></Directory>
          <Directory Id="ca_ES" Name="ca-ES" />
          <Directory Id="cs_CZ" Name="cs-CZ" />
          <Directory Id="es" Name="es" />
          <Directory Id="fr" Name="fr" />
          <Directory Id="de" Name="de" />
          <Directory Id="hu" Name="hu" />
          <Directory Id="it" Name="it" />
          <Directory Id="ja" Name="ja" />
          <Directory Id="ko" Name="ko" />
          <Directory Id="nl_BE" Name="nl-BE" />
          <Directory Id="pl" Name="pl" />
          <Directory Id="pt" Name="pt" />
          <Directory Id="ro" Name="ro" />
          <Directory Id="ru" Name="ru" />
          <Directory Id="sv" Name="sv" />
          <Directory Id="zh_Hans" Name="zh-Hans" />
          <Directory Id="zh_Hant" Name="zh-Hant" />
          <Directory Id="runtimes" Name="runtimes">
            <Directory Id="win" Name="win">
              <Directory Id="lib" Name="lib">
                <Directory Id="netcoreapp21" Name="netcoreapp2.1" />
              </Directory>
            </Directory>
            <Directory Id="win_arm" Name="win-arm">
              <Directory Id="win_arm_native" Name="native" />
            </Directory>
            <Directory Id="win_arm64" Name="win-arm64">
              <Directory Id="win_arm64_native" Name="native" />
            </Directory>
            <Directory Id="win_x64" Name="win-x64">
              <Directory Id="win_x64_native" Name="native" />
            </Directory>
            <Directory Id="win_x86" Name="win-x86">
              <Directory Id="win_x86_native" Name="native" />
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="Resources" Name="Resources">
          <Directory Id="Resources_Images" Name="Images" />
        </Directory>
			</Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="MaGeek" />
      </Directory>
      
		</Directory>
    
    <!-- Shortcut -->
    
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="167d33f2-da3d-4801-ad8d-472e814d2eae">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="Mageek" Description="Mtg Desktop App" Target="[#MaGeek.exe]" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\MyCompany\MyApplicationName" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

  </Fragment>

<!-- Main Files -->

  <Fragment>
	  <ComponentGroup Id="ProgramFilesFolder_files" Directory="INSTALLFOLDER">

      <Component Id="SharpVectors.Rendering.Wpf.dll" Guid="3813ccca-4269-462f-a79c-c750e3aa0294">
        <File Id="SharpVectors.Rendering.Wpf.dll" Name="SharpVectors.Rendering.Wpf.dll" Source="$(var.MaGeek_TargetDir)SharpVectors.Rendering.Wpf.dll" />
      </Component>
      <Component Id="SharpVectors.Model.dll" Guid="2feeae3f-a610-4ce0-9a15-34afd5ee756b">
        <File Id="SharpVectors.Model.dll" Name="SharpVectors.Model.dll" Source="$(var.MaGeek_TargetDir)SharpVectors.Model.dll" />
      </Component>
      <Component Id="SharpVectors.Converters.Wpf.dll" Guid="a66abc4a-5322-415f-93e5-8756b3b53799">
        <File Id="SharpVectors.Converters.Wpf.dll" Name="SharpVectors.Converters.Wpf.dll" Source="$(var.MaGeek_TargetDir)SharpVectors.Converters.Wpf.dll" />
      </Component>
      <Component Id="SharpVectors.Core.dll" Guid="3089564d-ebfb-4b3b-ac15-63ea72554a93">
        <File Id="SharpVectors.Core.dll" Name="SharpVectors.Core.dll" Source="$(var.MaGeek_TargetDir)SharpVectors.Core.dll" />
      </Component>
      <Component Id="SharpVectors.Dom.dll" Guid="aa1d487e-db25-490e-ad31-c3c45aad6bc2">
        <File Id="SharpVectors.Dom.dll" Name="SharpVectors.Dom.dll" Source="$(var.MaGeek_TargetDir)SharpVectors.Dom.dll" />
      </Component>
      <Component Id="SharpVectors.Css.dll" Guid="f4916a7d-dbca-44f6-9dec-91cca10111af">
        <File Id="SharpVectors.Css.dll" Name="SharpVectors.Css.dll" Source="$(var.MaGeek_TargetDir)SharpVectors.Css.dll" />
      </Component>
      <Component Id="SharpVectors.Runtime.Wpf.dll" Guid="436f74f3-a194-46e3-8a5f-4037c2f32d95">
        <File Id="SharpVectors.Runtime.Wpf.dll" Name="SharpVectors.Runtime.Wpf.dll" Source="$(var.MaGeek_TargetDir)SharpVectors.Runtime.Wpf.dll" />
      </Component>
      
      <Component Id="ScryfallApi.Client.dll" Guid="23c2b4bc-dafc-4e2d-89be-da14301f227f">
        <File Id="ScryfallApi.Client.dll" Name="ScryfallApi.Client.dll" Source="$(var.MaGeek_TargetDir)ScryfallApi.Client.dll" />
      </Component>
      <Component Id="Microsoft.Extensions.Http.dll" Guid="f6bd16d7-ec59-4452-9895-9b63bf37d0ae">
        <File Id="Microsoft.Extensions.Http.dll" Name="Microsoft.Extensions.Http.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Http.dll" />
      </Component>
      
      <Component Id="ProductComponent" Guid="4e53269e-7cf7-48b6-ba55-0906ee45863e">
        <File Id="MaGeek.exe" Source="$(var.MaGeek_TargetDir)MaGeek.exe" KeyPath="yes" />
      </Component>
      
      <Component Id="SqliteRaw" Guid="f975a985-7454-4830-a30e-ee12ecf151e7">
        <File Id="SQLitePCLRaw.batteries_v2.dll" Source="$(var.MaGeek_TargetDir)SQLitePCLRaw.batteries_v2.dll" KeyPath="yes" />
      </Component>
      <Component Id="EntityFramework.SqlServer" Guid="7b5bdc2a-7a0a-4dee-928f-0ff104d5c5bf">
        <File Id="EntityFramework.SqlServer.dll" Source="$(var.MaGeek_TargetDir)EntityFramework.SqlServer.dll" KeyPath="yes" />
      </Component>
      <Component Id="MaGeek.deps" Guid="481c5109-5713-4478-880a-8d1adb858b17">
        <File Id="MaGeek.deps.json" Source="$(var.MaGeek_TargetDir)MaGeek.deps.json" KeyPath="yes" />
      </Component>
      
	    <Component Id="MaGeek.runtimeconfig.json" Guid="7dfffe6b-03ac-4e43-8962-d2815986fd2e">
	      <File Id="MaGeek.runtimeconfig.json" Name="MaGeek.runtimeconfig.json" Source="$(var.MaGeek_TargetDir)MaGeek.runtimeconfig.json" />
	    </Component>
	    <Component Id="SQLitePCLRaw.core.dll" Guid="77456f66-b19c-474e-9e86-ebdc6de514d5">
	      <File Id="SQLitePCLRaw.core.dll" Name="SQLitePCLRaw.core.dll" Source="$(var.MaGeek_TargetDir)SQLitePCLRaw.core.dll" />
	    </Component>
	    <Component Id="Microsoft.Data.Sqlite.dll" Guid="bc6d3d8c-49df-40e5-8932-f82bbdd7a1b5">
	      <File Id="Microsoft.Data.Sqlite.dll" Name="Microsoft.Data.Sqlite.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Data.Sqlite.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.Configuration.Abstractions.dll" Guid="43d9b361-3847-4627-9e59-d14bcb953c24">
	      <File Id="Microsoft.Extensions.Configuration.Abstractions.dll" Name="Microsoft.Extensions.Configuration.Abstractions.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" />
	    </Component>
	    <Component Id="Microsoft.EntityFrameworkCore.Relational.dll" Guid="701e9c16-a3b5-4673-9dbb-afd864f116c9">
	      <File Id="Microsoft.EntityFrameworkCore.Relational.dll" Name="Microsoft.EntityFrameworkCore.Relational.dll" Source="$(var.MaGeek_TargetDir)Microsoft.EntityFrameworkCore.Relational.dll" />
	    </Component>
	    <Component Id="System.Data.SqlClient.dll" Guid="e2d294b8-9767-4792-8a15-f4d9929fa668">
	      <File Id="System.Data.SqlClient.dll" Name="System.Data.SqlClient.dll" Source="$(var.MaGeek_TargetDir)System.Data.SqlClient.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.Caching.Memory.dll" Guid="ff510427-d766-4d8b-b0e4-8dd48bfc2623">
	      <File Id="Microsoft.Extensions.Caching.Memory.dll" Name="Microsoft.Extensions.Caching.Memory.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Caching.Memory.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.Options.dll" Guid="c6c28fe3-c185-445e-9c84-bda33abc0f25">
	      <File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Options.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.Logging.dll" Guid="12a52dba-e9be-4f98-b822-84334c1972d2">
	      <File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Logging.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.DependencyInjection.dll" Guid="8dd0a079-763e-4ff0-b1a7-084cfacf6820">
	      <File Id="Microsoft.Extensions.DependencyInjection.dll" Name="Microsoft.Extensions.DependencyInjection.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
	    </Component>
	    <Component Id="Microsoft.EntityFrameworkCore.Abstractions.dll" Guid="21cc6514-1ed5-48ec-b326-c5ad10fbdc43">
	      <File Id="Microsoft.EntityFrameworkCore.Abstractions.dll" Name="Microsoft.EntityFrameworkCore.Abstractions.dll" Source="$(var.MaGeek_TargetDir)Microsoft.EntityFrameworkCore.Abstractions.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.Primitives.dll" Guid="889d8f88-e829-450c-826c-0f191055c1c7">
	      <File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Primitives.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.Caching.Abstractions.dll" Guid="008a1a19-d1cb-4a03-ae84-2652abace7a9">
	      <File Id="Microsoft.Extensions.Caching.Abstractions.dll" Name="Microsoft.Extensions.Caching.Abstractions.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Caching.Abstractions.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.Logging.Abstractions.dll" Guid="d0dc0a0f-e6a5-408a-be70-378205fb9844">
	      <File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Guid="b11c7416-a03f-41e6-a40a-edc78a79b335">
	      <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
	    </Component>
	    <Component Id="Newtonsoft.Json.dll" Guid="6f6ddf56-99a9-49fb-ad5c-49aa12301370">
	      <File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.MaGeek_TargetDir)Newtonsoft.Json.dll" />
	    </Component>
	    <Component Id="Microsoft.EntityFrameworkCore.Proxies.dll" Guid="a18921d4-099d-47f5-84e0-e24a1b533abc">
	      <File Id="Microsoft.EntityFrameworkCore.Proxies.dll" Name="Microsoft.EntityFrameworkCore.Proxies.dll" Source="$(var.MaGeek_TargetDir)Microsoft.EntityFrameworkCore.Proxies.dll" />
	    </Component>
	    <Component Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Guid="c5cc8cee-131b-403f-9dbe-0614ed46cb94">
	      <File Id="Microsoft.EntityFrameworkCore.Sqlite.dll" Name="Microsoft.EntityFrameworkCore.Sqlite.dll" Source="$(var.MaGeek_TargetDir)Microsoft.EntityFrameworkCore.Sqlite.dll" />
	    </Component>
	    <Component Id="Microsoft.EntityFrameworkCore.dll" Guid="aece676c-16fb-4905-9ab5-04af73f81c22">
	      <File Id="Microsoft.EntityFrameworkCore.dll" Name="Microsoft.EntityFrameworkCore.dll" Source="$(var.MaGeek_TargetDir)Microsoft.EntityFrameworkCore.dll" />
	    </Component>
	    <Component Id="MaGeek.dll" Guid="08dc91e1-76e3-4071-9d42-de3d38d0bde0">
	      <File Id="MaGeek.dll" Name="MaGeek.dll" Source="$(var.MaGeek_TargetDir)MaGeek.dll" />
	    </Component>
	    <Component Id="Microsoft.Extensions.DependencyModel.dll" Guid="001332e4-6e4b-4008-b290-d99263867bdc">
	      <File Id="Microsoft.Extensions.DependencyModel.dll" Name="Microsoft.Extensions.DependencyModel.dll" Source="$(var.MaGeek_TargetDir)Microsoft.Extensions.DependencyModel.dll" />
	    </Component>
	    <Component Id="Castle.Core.dll" Guid="83feed09-0866-4ea3-8cc9-326c76382807">
	      <File Id="Castle.Core.dll" Name="Castle.Core.dll" Source="$(var.MaGeek_TargetDir)Castle.Core.dll" />
	    </Component>
      <Component Id="MaGeek.pdb" Guid="a98aaa1d-f4e1-4dd8-bd4c-534021f07142">
        <File Id="MaGeek.pdb" Name="MaGeek.pdb" Source="$(var.MaGeek_TargetDir)MaGeek.pdb" />
      </Component>
      <Component Id="AvalonDock.Themes.Expression.dll" Guid="05206b1f-b05d-4de9-8676-97269289bb2b">
        <File Id="AvalonDock.Themes.Expression.dll" Name="AvalonDock.Themes.Expression.dll" Source="$(var.MaGeek_TargetDir)AvalonDock.Themes.Expression.dll" />
      </Component>
      <Component Id="AvalonDock.dll" Guid="38950e40-a540-4611-9332-6b4336ce96a7">
        <File Id="AvalonDock.dll" Name="AvalonDock.dll" Source="$(var.MaGeek_TargetDir)AvalonDock.dll" />
      </Component>
	  </ComponentGroup>
	</Fragment>

<!-- Sqlite -->
  
  <Fragment>
    
    <ComponentGroup Id="sql_win" Directory="netcoreapp21">
      <Component Id="sql_win_System.Data.SqlClient" Guid="c38fcb51-a350-4741-99bd-7a56d9ac853f">
        <File Id="sql_win_System.Data.SqlClient.dll" Name="System.Data.SqlClient.dll" Source="$(var.MaGeek_TargetDir)runtimes\win\lib\netcoreapp2.1\System.Data.SqlClient.dll" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="sql_win_arm" Directory="win_arm_native">
      <Component Id="sql_win_arm_e_sqlite3" Guid="284e3d13-890e-41f5-bf23-a7fb35633cbb">
        <File Id="sql_win_arm_e_sqlite3.dll" Name="e_sqlite3.dll" Source="$(var.MaGeek_TargetDir)runtimes\win-arm\native\e_sqlite3.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="sql_win_arm64" Directory="win_arm64_native">
      <Component Id="sql_win_arm64_e_sqlite3" Guid="7033289f-1629-4deb-92f5-567410f9ef74">
        <File Id="sql_win_e_sqlite3.dll" Name="e_sqlite3.dll" Source="$(var.MaGeek_TargetDir)runtimes\win-arm64\native\e_sqlite3.dll" />
      </Component>
      <Component Id="sql_win_arm64_sni" Guid="969e605d-0768-48a8-9db8-8e399423c018">
        <File Id="sql_win_sni.dll" Name="sni.dll" Source="$(var.MaGeek_TargetDir)runtimes\win-arm64\native\sni.dll" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="sql_win64" Directory="win_x64_native">
      <Component Id="sql_win64_sql_win64_e_sqlite3" Guid="5137dbb5-1cef-48aa-828e-9f0b10bc522f">
        <File Id="e_sqlite3.dll" Name="e_sqlite3.dll" Source="$(var.MaGeek_TargetDir)runtimes\win-x64\native\e_sqlite3.dll" />
      </Component>
      <Component Id="sql_win64_sni" Guid="7f26caa1-a039-4a53-bdcd-7fe040fe99e4">
        <File Id="sql_win64_sni.dll" Name="sni.dll" Source="$(var.MaGeek_TargetDir)runtimes\win-x64\native\sni.dll" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="sql_win86" Directory="win_x86_native">
      <Component Id="sql_win86_e_sqlite3" Guid="71b4e68a-3129-4c8c-84e0-4fea5fc48611">
        <File Id="sql_win86_e_sqlite3.dll" Name="e_sqlite3.dll" Source="$(var.MaGeek_TargetDir)runtimes\win-x86\native\e_sqlite3.dll" />
      </Component>
      <Component Id="sql_win86_sni" Guid="376fc1de-cc3d-4570-a26d-79f1dadb161f">
        <File Id="sql_win86_sni.dll" Name="sni.dll" Source="$(var.MaGeek_TargetDir)runtimes\win-x86\native\sni.dll" />
      </Component>
    </ComponentGroup>

  </Fragment>

<!-- Lang -->
  

  <Fragment>
    <ComponentGroup Id="Resources_files" Directory="Resources">
      <Component Id="Resources_Icone.ico" Guid="7fb9d505-ffd2-4bd1-871d-c88f585c6561">
        <File Id="Resources_Icone.ico" Name="Icone.ico" Source="$(var.MaGeek_TargetDir)Icone.ico" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="pl_files" Directory="pl">
      <Component Id="pl_AvalonDock.resources.dll" Guid="79cd45a9-455f-4c33-bf7a-8f01137fab80">
        <File Id="pl_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)pl\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="fr_files" Directory="fr">
      <Component Id="fr_AvalonDock.resources.dll" Guid="068b8e90-8be4-46cb-b27d-c1f6ed1d1bd7">
        <File Id="fr_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)fr\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="es_files" Directory="es">
      <Component Id="es_AvalonDock.resources.dll" Guid="7460c0f9-4360-4dcf-9d04-23d4a138c188">
        <File Id="es_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)es\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="de_files" Directory="de">
      <Component Id="de_AvalonDock.resources.dll" Guid="7db33afc-771a-4ab5-80bf-b7b19b5a456d">
        <File Id="de_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)de\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="cs_CZ_files" Directory="cs_CZ">
      <Component Id="cs_CZ_AvalonDock.resources.dll" Guid="39eb407f-e55d-4e81-85f6-9c0e3d06d527">
        <File Id="cs_CZ_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)cs-CZ\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ca_ES_files" Directory="ca_ES">
      <Component Id="ca_ES_AvalonDock.resources.dll" Guid="778db76c-8b09-4c30-b60a-1a83a8869854">
        <File Id="ca_ES_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)ca-ES\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ja_files" Directory="ja">
      <Component Id="ja_AvalonDock.resources.dll" Guid="4bec9c0f-b475-4256-8730-5ce01d593616">
        <File Id="ja_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)ja\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ko_files" Directory="ko">
      <Component Id="ko_AvalonDock.resources.dll" Guid="560d1bbd-0ce0-42d2-afb4-0c861e0a117c">
        <File Id="ko_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)ko\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="nl_BE_files" Directory="nl_BE">
      <Component Id="nl_BE_AvalonDock.resources.dll" Guid="fa62a913-515e-4e60-a3d6-3e7e9e240193">
        <File Id="nl_BE_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)nl-BE\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="pt_files" Directory="pt">
      <Component Id="pt_AvalonDock.resources.dll" Guid="9b57f50b-3b33-4b58-ba2a-87e81f0f83da">
        <File Id="pt_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)pt\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ro_files" Directory="ro">
      <Component Id="ro_AvalonDock.resources.dll" Guid="b43bc0eb-39a2-46b2-a450-1a5748f76692">
        <File Id="ro_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)ro\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ru_files" Directory="ru">
      <Component Id="ru_AvalonDock.resources.dll" Guid="a17454ec-902a-4f6e-827e-8f8e45a50145">
        <File Id="ru_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)ru\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="sv_files" Directory="sv">
      <Component Id="sv_AvalonDock.resources.dll" Guid="b47b01df-4d3c-47a7-b163-ba63e86d4365">
        <File Id="sv_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)sv\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="zh_Hans_files" Directory="zh_Hans">
      <Component Id="zh_Hans_AvalonDock.resources.dll" Guid="87702ba9-904b-49e0-96c3-8c5e0d9af7a0">
        <File Id="zh_Hans_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)zh-Hans\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="zh_Hant_files" Directory="zh_Hant">
      <Component Id="zh_Hant_AvalonDock.resources.dll" Guid="26593ea2-25b1-48aa-a722-9842764bb93e">
        <File Id="zh_Hant_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)zh-Hant\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="hu_files" Directory="hu">
      <Component Id="hu_AvalonDock.resources.dll" Guid="6f4a444f-7103-4e46-9d4c-f651e1ef1c57">
        <File Id="hu_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)hu\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="it_files" Directory="it">
      <Component Id="it_AvalonDock.resources.dll" Guid="76a029a8-2c29-4ec6-bbb4-5c452bb1bb62">
        <File Id="it_AvalonDock.resources.dll" Name="AvalonDock.resources.dll" Source="$(var.MaGeek_TargetDir)it\AvalonDock.resources.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  
</Wix>
